*{
    margin:0px;
    padding:0px;
}
#wrapper{
    margin-top: 2.2em;
    margin-left: 1em;
    /*-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;*/
    background-color:#EBEBEB;
    width:35em;
    overflow:hidden;
    /*border: solid green 3px;*/
}
#steps{
    width:35em;
    overflow:hidden;
}
.step{
  float:left;
  border: solid pink 3px;
  width:35em;
}
#navigation{
    height:45px;
    background-color:#EBEBEB;
    /*border-top:1px solid #fff;*/
    text-align: center;
    /*-moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;*/
}
#navigation ul{
  list-style:none;
	float:left;
	margin-left:6em;
}
#navigation ul li{
	float:left;
  /*border-right:1px solid #ccc;
  border-left:1px solid #ccc;*/
  position:relative;
	margin:0 1.875em;
}
#navigation ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    /*text-decoration:none;*/
    line-height:45px;
    padding:5px 20px 30px 20px;

    /*border-right:1px solid #fff;
    border-left:1px solid #fff;*/
    background:#EBEBEB;
    /*background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )*/
}

#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
span.checked{
    background:transparent url(./images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(./images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}

#steps form p{
    float:left;
    clear:both;
    margin:5px 0px;
    /*background-color:#f4f4f4;*/
    /*border:1px solid #fff;*/
    /*min-width:500px;*/
    padding:10px;
    margin-left:100px;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;*/
}
#steps form label{
    width:160px;
    float:left;
    /*text-align:right;*/
    margin-right:15px;
    line-height:26px;
    color:#666;
    /*text-shadow:1px 1px 1px #FFFFFF;*/
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    background: #EBEBEB;
    outline: none;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    /*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;*/
    outline: none;
    padding: 5px;
    height: 23pt;
    width: 12.5em;
    float:left;
    font-size: 12pt;
}
#steps form input[type=date] {
  border: none;
}
#steps form select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
#steps form input[type=radio] {
  display: inline-block;
}
#steps form input:focus{
  /*border: none;*/
  /*-moz-box-shadow:0px 0px 3px #aaa;
  -webkit-box-shadow:0px 0px 3px #aaa;
  box-shadow:0px 0px 3px #aaa;*?
  /*background-color:#FFFEEF;*/
}
#counter input {
  border: none;
}
#steps form p.submit{
    text-align: center;
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {
  text-align: center;
  width: 9em;
  text-transform: uppercase;
  border:none;
	outline:none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  display: block;
  cursor:pointer;
  margin: 0px auto;
  margin-left: 4.7em;
  clear:both;
  padding: 7px 25px;
  font-weight:bold;
  font-size:16pt;
  -moz-box-shadow:0px 0px 3px #aaa;
  -webkit-box-shadow:0px 0px 3px #aaa;
  box-shadow:0px 0px 3px #aaa;
  background: linear-gradient(to bottom right, #4893BC, #48B8B7);
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
#steps form textarea {
  width: 12.5em;
  height: 5em;
  resize: none;
  background-color: #D9D9D9;
  font-family: 'nexa_light';
}

#form-error {
  display: none;
  color: #D8000C;
  /*background-color: #FFBABA;*/
  border-radius: 8px;
  font-weight: bold;
  text-decoration: underline;
}
