* {
  overflow: hidden;
  box-sizing: border-box;
}
#page-content {
  width: 100vw;
  min-height: 100vh;
  margin: auto;
}

#infographics {
  width: 50vw;
  min-height: 100vh;
  float: left;
  background-color: #32425A;
}

#signup-form {
  position: absolute;
  min-height: 100vh;
  margin-left: 50vw;
  background-color: #EBEBEB;
  
}

